### Lending Club Project Loan Defaulters Data Cleaning

In [1]:
from pyspark.sql import SparkSession
import getpass
username=getpass.getuser()
spark=SparkSession. \
builder. \
config('spark.ui.port','0'). \
config('spark.shuffle.useOldFetchProtocol','true'). \
config("spark.sql.warehouse.dir",f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
loans_defaulters_raw_df=spark.read \
.format("csv") \
.option("header",True) \
.option("inferSchema",True) \
.load("/user/itv007473/lendingclubproject/raw/loans_defaulters_data_csv")

In [4]:
loans_defaulters_raw_df

+--------------------+-----------+-----------+-------+--------------------+--------------+------------------+----------------------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|pub_rec|pub_rec_bankruptcies|inq_last_6mths|total_rec_late_fee|mths_since_last_delinq|mths_since_last_record|
+--------------------+-----------+-----------+-------+--------------------+--------------+------------------+----------------------+----------------------+
|b59d80da191f5b573...|        0.0|        0.0|    0.0|                 0.0|           1.0|               0.0|                  31.0|                  null|
|202d9f56ecb7c3bc9...|        1.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                   6.0|                  null|
|e5a140c0922b554b9...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  47.0|                  null|
|e12aefc548f750777...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  33.0|                  null|
|1b3a50d854fbbf97e...|        1.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  21.0|                  null|
|1c4329e5f17697127...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  null|                  null|
|5026c86ad983175eb...|        0.0|        0.0|    1.0|                 0.0|           2.0|               0.0|                  null|                  71.0|
|9847d8c1e9d0b2084...|        1.0|        0.0|    2.0|                 0.0|           0.0|               0.0|                   6.0|                  63.0|
|8340dbe1adea41fb4...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  36.0|                  null|
|d4de0de3ab7d79ad4...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  35.0|                  null|
|3df3cdeddb74a8712...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  null|                  null|
|9dd72636b1b4045b4...|        0.0|        0.0|    0.0|                 0.0|           3.0|               0.0|                  null|                  null|
|1d4e1ef4353b73c00...|        0.0|        0.0|    0.0|                 0.0|           2.0|               0.0|                  30.0|                  null|
|6f196952e71277fd4...|        4.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                   5.0|                  null|
|9c617cbc6e3e3d6a1...|        1.0|        0.0|    0.0|                 0.0|           2.0|               0.0|                  20.0|                  null|
|45eb04dd75400a942...|        0.0|        0.0|    0.0|                 0.0|           2.0|               0.0|                  28.0|                  null|
|08d233c81f9e50726...|        0.0|        0.0|    0.0|                 0.0|           1.0|               0.0|                  null|                  null|
|8ff4d0ed17a1cab92...|        1.0|        0.0|    2.0|                 0.0|           2.0|               0.0|                  15.0|                  32.0|
|aec13cfd611b2cfea...|        1.0|        0.0|    0.0|                 0.0|           1.0|               0.0|                  19.0|                  null|
|9ba8c96ccba6cd1f0...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  37.0|                  null|
+--------------------+-----------+-----------+-------+--------------------+--------------+------------------+----------------------+----------------------+
only showing top 20 rows

In [3]:
loans_defaulters_raw_df.createOrReplaceTempView("loan_defaulters")

In [8]:
spark.sql("select distinct(delinq_2yrs) from loan_defaulters")

+--------------------+
|         delinq_2yrs|
+--------------------+
|                 1.0|
|271 monthly payme...|
|I bike to work on...|
|               183xx|
|VISA and AMEX cre...|
|etc. and I feel t...|
|                  AZ|
|               017xx|
|               923xx|
|               446xx|
|who is a financia...|
|and all of that c...|
|                  LA|
|               24.66|
|and the removal o...|
|I would like to c...|
|               12.24|
|                22.0|
|so most of my inc...|
|I would like to p...|
+--------------------+
only showing top 20 rows

In [4]:
spark.sql("select delinq_2yrs, count(*) as total from loan_defaulters group by delinq_2yrs order by total desc").show(40)

+------------------+-------+
|       delinq_2yrs|  total|
+------------------+-------+
|               0.0|1838878|
|               1.0| 281335|
|               2.0|  81285|
|               3.0|  29539|
|               4.0|  13179|
|               5.0|   6599|
|               6.0|   3717|
|               7.0|   2062|
|               8.0|   1223|
|               9.0|    818|
|              10.0|    556|
|              11.0|    363|
|              12.0|    264|
|              13.0|    165|
|              14.0|    120|
|              15.0|     87|
|              null|     63|
|              16.0|     55|
|              17.0|     30|
|              18.0|     30|
|              19.0|     23|
|              20.0|     17|
|              21.0|     12|
|                CA|      8|
|                TX|      6|
|              22.0|      5|
|    small_business|      5|
|debt_consolidation|      5|
|                IL|      5|
|              24.0|      4|
|                FL|      4|
|                NJ|      3|
|                NY|      3|
|              26.0|      3|
|             452xx|      3|
|             other|      2|
|              29.0|      2|
|              30.0|      2|
|              23.0|      2|
|       credit_card|      2|
+------------------+-------+
only showing top 40 rows

In [7]:
loan_defaulters_schema = "member_id string, delinq_2yrs float, delinq_amnt float, pub_rec float, pub_rec_bankruptcies float,inq_last_6mths float, total_rec_late_fee float, mths_since_last_delinq float, mths_since_last_record float"

In [8]:
loans_def_raw_df = spark.read \
.format("csv") \
.option("header",True) \
.schema(loan_defaulters_schema) \
.load("/public/trendytech/lendingclubproject/raw/loans_defaulters_csv")

In [9]:
loans_def_raw_df.createOrReplaceTempView("loan_defaulters")

In [10]:
spark.sql("select delinq_2yrs, count(*) as total from loan_defaulters group by delinq_2yrs order by total desc").show(40)

+-----------+-------+
|delinq_2yrs|  total|
+-----------+-------+
|        0.0|1838878|
|        1.0| 281335|
|        2.0|  81285|
|        3.0|  29539|
|        4.0|  13179|
|        5.0|   6599|
|        6.0|   3717|
|        7.0|   2062|
|        8.0|   1223|
|        9.0|    818|
|       10.0|    556|
|       11.0|    363|
|       12.0|    264|
|       null|    261|
|       13.0|    165|
|       14.0|    120|
|       15.0|     87|
|       16.0|     55|
|       18.0|     30|
|       17.0|     30|
|       19.0|     23|
|       20.0|     17|
|       21.0|     12|
|       22.0|      5|
|       24.0|      4|
|       26.0|      3|
|       25.0|      2|
|       3.44|      2|
|       23.0|      2|
|       29.0|      2|
|       30.0|      2|
|       9.44|      1|
|      10.92|      1|
|      26.24|      1|
|       5.52|      1|
|      22.62|      1|
|       6.52|      1|
|       9.56|      1|
|       1.41|      1|
|      17.18|      1|
+-----------+-------+
only showing top 40 rows

In [12]:
from pyspark.sql.functions import col

In [13]:
loans_def_processed_df = loans_def_raw_df.withColumn("delinq_2yrs", col("delinq_2yrs").cast("integer")).fillna(0, subset = ["delinq_2yrs"])

In [14]:
loans_def_processed_df.createOrReplaceTempView("loan_defaulters")

In [15]:
spark.sql("select count(*) from loan_defaulters where delinq_2yrs is null")

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [16]:
spark.sql("select delinq_2yrs, count(*) as total from loan_defaulters group by delinq_2yrs order by total desc").show(40)

+-----------+-------+
|delinq_2yrs|  total|
+-----------+-------+
|          0|1839141|
|          1| 281337|
|          2|  81285|
|          3|  29545|
|          4|  13180|
|          5|   6601|
|          6|   3719|
|          7|   2063|
|          8|   1226|
|          9|    821|
|         10|    558|
|         11|    363|
|         12|    266|
|         13|    167|
|         14|    123|
|         15|     90|
|         16|     56|
|         17|     33|
|         18|     32|
|         19|     24|
|         20|     19|
|         21|     16|
|         22|      7|
|         24|      6|
|         23|      5|
|         26|      4|
|         29|      2|
|         30|      2|
|         25|      2|
|         27|      1|
|         35|      1|
|         28|      1|
|         42|      1|
|         39|      1|
|         32|      1|
|         36|      1|
|         58|      1|
+-----------+-------+

### Storing only Defaulters Data

In [17]:
loans_def_delinq_df = spark.sql("select member_id,delinq_2yrs, delinq_amnt, int(mths_since_last_delinq) from loan_defaulters where delinq_2yrs > 0 or mths_since_last_delinq > 0")

In [21]:
loans_def_delinq_df

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|9cb79aa7323e81be1...|          2|        0.0|                    11|
|aac68850fdac09fd0...|          1|        0.0|                    21|
|c89986155a070db2e...|          1|        0.0|                     5|
|6e8d94bf446e97025...|          0|        0.0|                    36|
|42f73fd8a01f1c475...|          0|        0.0|                    46|
|1eef79a0e79b72c7a...|          1|        0.0|                    21|
|1dd1d1b51473d4993...|          0|        0.0|                    44|
|ec1953dba2cfb89ad...|          2|        0.0|                    13|
|8241a6bb3a9350fb8...|          0|        0.0|                    57|
|cdc94fa1c29a6a70a...|          0|        0.0|                    44|
|3712c9da85e54b7b1...|          1|        0.0|                    19|
|6ebc82410b3dc9dcb...|          0|        0.0|                    43|
|d25f6d6da5a92a401...|          0|        0.0|                    45|
|657a760b1d52967fb...|          0|        0.0|                    36|
|030e5c9c411c936c5...|          2|        0.0|                     6|
|7fd6a504a6486e061...|          0|        0.0|                    45|
|a67f439593858be7c...|          0|        0.0|                    28|
|252736f8401b6b046...|          2|        0.0|                     5|
|bf7c24ada32d968a6...|          0|        0.0|                    49|
|a36b7198a8d922b0c...|          0|        0.0|                    75|
+--------------------+-----------+-----------+----------------------+
only showing top 20 rows

In [22]:
loans_def_delinq_df.count()

1106163

In [18]:
loans_def_records_enq_df = spark.sql("select member_id from loan_defaulters where pub_rec > 0.0 or pub_rec_bankruptcies > 0.0 or inq_last_6mths > 0.0")

In [24]:
loans_def_records_enq_df

+--------------------+
|           member_id|
+--------------------+
|0dd2bbc517e3c8f9e...|
|458458599d3df3bfc...|
|f1efcf7dfbfef21be...|
|c89986155a070db2e...|
|e88945f86a96f8d71...|
|4e1c30a5dfe9f1e20...|
|76cbefe31f7834f47...|
|47d002f59a274c6f2...|
|09a1c6855801dad88...|
|56d4375718ad6940d...|
|6ebc82410b3dc9dcb...|
|41a307b3c2c66aad8...|
|d168c599b8aea3c0b...|
|657a760b1d52967fb...|
|b7d9da217c8256cfd...|
|a67f439593858be7c...|
|3a4aac093cddcdb0c...|
|23bb4e7a5ed15c1fc...|
|0b55b1efb75760dc3...|
|04eedd3c6357df852...|
+--------------------+
only showing top 20 rows

In [25]:
loans_def_records_enq_df.count()

1070125

In [21]:
loans_def_detail_records_enq_df = spark.sql("select member_id,pub_rec,pub_rec_bankruptcies,inq_last_6mths from loan_defaulters")

In [24]:
loans_def_detail_records_enq_df.createOrReplaceTempView("loans_def_detail_records_enq")

In [25]:
spark.sql("select count(*) from loans_def_detail_records_enq where pub_rec is null")

+--------+
|count(1)|
+--------+
|     168|
+--------+

In [22]:
loans_def_detail_records_enq_df

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|9cb79aa7323e81be1...|    0.0|                 0.0|           0.0|
|0dd2bbc517e3c8f9e...|    1.0|                 1.0|           3.0|
|458458599d3df3bfc...|    1.0|                 1.0|           1.0|
|05ea141ec28b5c7f7...|    0.0|                 0.0|           0.0|
|aac68850fdac09fd0...|    0.0|                 0.0|           0.0|
|3a423e4589e89f429...|    0.0|                 0.0|           0.0|
|f1efcf7dfbfef21be...|    0.0|                 0.0|           1.0|
|c89986155a070db2e...|    0.0|                 0.0|           1.0|
|118dc629b6e134419...|    0.0|                 0.0|           0.0|
|a86fa4b7493708333...|    0.0|                 0.0|           0.0|
|6e8d94bf446e97025...|    0.0|                 0.0|           0.0|
|3de585156dc6b73f6...|    0.0|                 0.0|           0.0|
|e88945f86a96f8d71...|    0.0|                 0.0|           1.0|
|42f73fd8a01f1c475...|    0.0|                 0.0|           0.0|
|c680bca32456530e6...|    0.0|                 0.0|           0.0|
|3c36e35bcc0379690...|    0.0|                 0.0|           0.0|
|4e1c30a5dfe9f1e20...|    0.0|                 0.0|           1.0|
|1eef79a0e79b72c7a...|    0.0|                 0.0|           0.0|
|89d42771f79636d22...|    0.0|                 0.0|           0.0|
|1dd1d1b51473d4993...|    0.0|                 0.0|           0.0|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

In [26]:
loans_def_p_pub_rec_df = loans_def_detail_records_enq_df.withColumn("pub_rec",
col("pub_rec").cast("integer")).fillna(0, subset=["pub_rec"])

In [28]:
loans_def_p_pub_rec_bankruptcies_df =loans_def_p_pub_rec_df.withColumn("pub_rec_bankruptcies",
col("pub_rec_bankruptcies").cast("integer")).fillna(0,
subset=["pub_rec_bankruptcies"])

In [30]:
loans_def_p_inq_last_6mths_df =loans_def_p_pub_rec_bankruptcies_df.withColumn("inq_last_6mths",
col("inq_last_6mths").cast("integer")).fillna(0, subset=["inq_last_6mths"])

In [31]:
loans_def_p_inq_last_6mths_df.createOrReplaceTempView("loan_defaulters")

In [35]:
loans_def_detail_records_enq_df = spark.sql("select member_id, pub_rec, \
pub_rec_bankruptcies, inq_last_6mths from loan_defaulters")

In [34]:
loans_def_delinq_df.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/cleaned/loans_defaulters_deling_csv") \
.save()

In [27]:
loans_def_delinq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/cleaned/loans_defaulters_deling_parquet") \
.save()

In [28]:
loans_def_records_enq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/cleaned/loans_defaulters_records_enq_parquet") \
.save()

In [30]:
loans_def_records_enq_df.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/cleaned/loans_defaulters_records_enq_csv") \
.save()

In [36]:
loans_def_detail_records_enq_df.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/cleaned/loans_defaulters_detail_records_enq_csv") \
.save()

In [37]:
loans_def_detail_records_enq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/cleaned/loans_defaulters_detail_records_enq_parquet") \
.save()