In [44]:
from pyspark.sql import SparkSession
import getpass 
username=getpass.getuser()
spark=SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
    config('spark.shuffle.useOldFetchProtocol', 'true'). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [45]:
spark.sql("""select member_id, count(*) as total 
from itv007473_lending_club.customers
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    5|
|76b577467eda5bdbc...|    4|
|3f87585a20f702838...|    4|
|ad8e5d384dae17e06...|    4|
|a2356725aa9da92c6...|    3|
|e7d8d16928817ec8f...|    3|
|035bf3d8288d803bd...|    3|
|22593a1870543b2db...|    3|
|498bb6b1f0099cb47...|    3|
|5d52e7773cb0efff3...|    3|
|d9ce4046daf599732...|    3|
|059d401bb603d9a80...|    3|
|c92062bb371842b3d...|    3|
|291ca1b09ef11ca3e...|    3|
|819453be77718d747...|    3|
|53789bea7edc660ed...|    3|
|4ab6205de571ccb7b...|    3|
|c563428cb58da48ff...|    3|
|d3731bad3e6a82515...|    3|
|3ae415acd6bbfaac1...|    3|
+--------------------+-----+
only showing top 20 rows

In [46]:
spark.sql("""select * from itv007473_lending_club.customers 
where member_id like 'e4c167053d5418230%'""")

+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               138780.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               110907.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               171165.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               129833.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               207300.0|      Individual|              null|                     null|2023-11-05 06:06:...|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+

In [4]:
spark.sql("""select member_id, count(*) as total 
from itv007473_lending_club.loans_defaulters_delinq
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|1f392553105eebc55...|    3|
|bca141343d9405a9a...|    3|
|41d36a5e709d6218a...|    3|
|ee2d0dd6ad9e048b8...|    3|
|793b618a7de10f813...|    3|
|6f88761291d14b65e...|    3|
|9240fa4e744ff0846...|    3|
|b67f4aa39e82954f2...|    3|
|e4c167053d5418230...|    3|
|675151e58a628e87b...|    2|
|cd1fdca829c443fa7...|    2|
|bbe43331566910d55...|    2|
|cbede54df344cdb94...|    2|
|827a048c072fb44b0...|    2|
|4273588c35c7b7f40...|    2|
|e884f4108b3c6b1f4...|    2|
|8d2c605c7ad9209cc...|    2|
|22593a1870543b2db...|    2|
|0fa3654dfc604c1d4...|    2|
|3b94fbab00b7a0ec4...|    2|
+--------------------+-----+
only showing top 20 rows

In [5]:
spark.sql("""select * from itv007473_lending_club.loans_defaulters_delinq
where member_id like 'e4c167053d5418230%'""")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          3|        0.0|                    13|
|e4c167053d5418230...|          1|        0.0|                    16|
|e4c167053d5418230...|          1|        0.0|                    37|
+--------------------+-----------+-----------+----------------------+

In [6]:
spark.sql("""select member_id, count(*) as total 
from itv007473_lending_club.loans_defaulters_detail_rec_enq
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e3b0c44298fc1c149...|   33|
|e4c167053d5418230...|    5|
|ad8e5d384dae17e06...|    4|
|3f87585a20f702838...|    4|
|76b577467eda5bdbc...|    4|
|c92062bb371842b3d...|    3|
|22593a1870543b2db...|    3|
|035bf3d8288d803bd...|    3|
|066ddaa64bee66dff...|    3|
|291ca1b09ef11ca3e...|    3|
|5d52e7773cb0efff3...|    3|
|d3731bad3e6a82515...|    3|
|53789bea7edc660ed...|    3|
|3ae415acd6bbfaac1...|    3|
|e7d8d16928817ec8f...|    3|
|a2356725aa9da92c6...|    3|
|498bb6b1f0099cb47...|    3|
|4ab6205de571ccb7b...|    3|
|c563428cb58da48ff...|    3|
|059d401bb603d9a80...|    3|
+--------------------+-----+
only showing top 20 rows

In [7]:
spark.sql("""select * from itv007473_lending_club.loans_defaulters_detail_rec_enq
where member_id like 'e4c167053d5418230%'""")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|e4c167053d5418230...|      0|                   0|             0|
|e4c167053d5418230...|      0|                   0|             3|
|e4c167053d5418230...|      0|                   0|             2|
|e4c167053d5418230...|      0|                   0|             1|
|e4c167053d5418230...|      0|                   0|             0|
+--------------------+-------+--------------------+--------------+

### Filtering out member_id more than 1

In [47]:
bad_data_customer_df=spark.sql("""select member_id from (select member_id, count(*) as total
from itv007473_lending_club.customers
group by member_id having total>1)""")

In [13]:
bad_data_customer_df.count()

3157

In [14]:
bad_data_customer_df

+--------------------+
|           member_id|
+--------------------+
|fc0e468bff11ac7c3...|
|cd1fdca829c443fa7...|
|cbede54df344cdb94...|
|61be6498c93cadf89...|
|4231a55d0199c619a...|
|2bae2e4dd6d5f2b21...|
|01b2223757c3b62e7...|
|3b8ffe19f24749a73...|
|675151e58a628e87b...|
|eebbd89aa7efc13e7...|
|f284044b881f218c0...|
|7115ace193e13d8f3...|
|761b2f1e61999e14e...|
|5130d0087970e032e...|
|f99c6e9cfe3a7a2d2...|
|a2af7506825a7dcff...|
|a53e2f488d2d76a30...|
|d4782ddad8591f44d...|
|e61af5f79c2480a8b...|
|d12c5766068d3b377...|
+--------------------+
only showing top 20 rows

In [48]:
bad_data_loans_defaulters_delinq_df = spark.sql("""select member_id, count(*)
as total from itv007473_lending_club.loans_defaulters_delinq
group by member_id having total > 1""")

In [24]:
bad_data_loans_defaulters_delinq_df.count()

939

In [17]:
bad_data_loans_defaulters_delinq_df

+--------------------+
|           member_id|
+--------------------+
|675151e58a628e87b...|
|a53e2f488d2d76a30...|
|7115ace193e13d8f3...|
|d4782ddad8591f44d...|
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|f99c6e9cfe3a7a2d2...|
|759c2dc5f485e5465...|
|22593a1870543b2db...|
|0fa3654dfc604c1d4...|
|8d2c605c7ad9209cc...|
|3b94fbab00b7a0ec4...|
|d34249ef84980fb46...|
|48846377688c803fa...|
|e884f4108b3c6b1f4...|
|4273588c35c7b7f40...|
|bbe43331566910d55...|
|827a048c072fb44b0...|
|e1f91eb87353347fd...|
|2a9775bb297d8d183...|
+--------------------+
only showing top 20 rows

In [28]:
spark.sql("""select * from itv007473_lending_club.loans_defaulters_delinq 
where member_id like 'ac9a3da3b89f9228e%'""")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|ac9a3da3b89f9228e...|          1|        0.0|                     9|
|ac9a3da3b89f9228e...|          1|        0.0|                    21|
+--------------------+-----------+-----------+----------------------+

In [49]:
bad_data_loans_defaulters_detail_rec_enq_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv007473_lending_club.loans_defaulters_detail_rec_enq
group by member_id having total > 1)""")

In [30]:
bad_data_loans_defaulters_detail_rec_enq_df.count()

3189

In [31]:
bad_data_loans_defaulters_detail_rec_enq_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|4231a55d0199c619a...|
|675151e58a628e87b...|
|01b2223757c3b62e7...|
|f99c6e9cfe3a7a2d2...|
|a53e2f488d2d76a30...|
|a2af7506825a7dcff...|
|d4782ddad8591f44d...|
|5130d0087970e032e...|
|3b8ffe19f24749a73...|
|fc0e468bff11ac7c3...|
|2bae2e4dd6d5f2b21...|
|61be6498c93cadf89...|
|761b2f1e61999e14e...|
|f284044b881f218c0...|
|7115ace193e13d8f3...|
|eebbd89aa7efc13e7...|
|759c2dc5f485e5465...|
|53789bea7edc660ed...|
+--------------------+
only showing top 20 rows

In [50]:
bad_data_customer_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/bad/bad_data_customers") \
.save()

In [51]:
bad_data_loans_defaulters_delinq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/bad/bad_data_loans_defaulters_delinq") \
.save()

In [52]:
bad_data_loans_defaulters_detail_rec_enq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/bad/bad_data_loans_defaulters_detail_rec_enq") \
.save()

#### Union the above dfs

In [53]:
bad_customer_data_df = bad_data_customer_df.select("member_id") \
.union(bad_data_loans_defaulters_delinq_df.select("member_id")) \
.union(bad_data_loans_defaulters_detail_rec_enq_df.select("member_id"))

In [54]:
bad_customer_data_final_df = bad_customer_data_df.distinct()

In [37]:
bad_customer_data_final_df.count()

3189

In [55]:
bad_customer_data_final_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/bad/bad_customer_data_final") \
.save()

In [56]:
bad_customer_data_final_df.createOrReplaceTempView("bad_data_customer")

In [57]:
spark.sql("""select * from itv007473_lending_club.customers
where member_id NOT IN (select member_id from bad_data_customer)
""")

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|2dd741a563df74164...|  Operations Manager|        10|           OWN|     105000.0|           TX|          750xx|            USA|    A|       A1|    Source Verified|               329369.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|651c19b1b5d1cf9cf...|Accounting Admini...|         2|      MORTGAGE|      53750.0|           MI|          483xx|            USA|    B|       B2|           Verified|               207812.0|       Joint App|          134750.0|          Source Verified|2023-11-05 06:06:...|
|82121c7f7dcdc68ae...|         Dog groomer|        10|          RENT|      30000.0|           FL|          341xx|            USA|    A|       A3|    Source Verified|                26441.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|e093a85fb630dba70...|     Quality Auditor|         6|      MORTGAGE|      55000.0|           KS|          666xx|            USA|    C|       C5|    Source Verified|               221695.0|       Joint App|           92000.0|          Source Verified|2023-11-05 06:06:...|
|22c4f3df84e10a102...|    School Counselor|         4|          RENT|      55000.0|           OH|          447xx|            USA|    B|       B2|    Source Verified|               134586.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|d517e522d1ac5181e...|      Unit secretary|         8|      MORTGAGE|      45000.0|           RI|          028xx|            USA|    A|       A5|       Not Verified|               230556.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|0b4d7c0e2a5291151...|               Waxer|         1|          RENT|      32000.0|           NY|          111xx|            USA|    D|       D5|       Not Verified|                29528.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|3657812c589a33cb8...|    Accounts Payable|         1|      MORTGAGE|      36000.0|           TX|          761xx|            USA|    B|       B3|           Verified|               110641.0|       Joint App|           76000.0|                 Verified|2023-11-05 06:06:...|
|a88d60d369c1ccf9a...|        Receptionist|         1|      MORTGAGE|     155000.0|           NM|          882xx|            USA|    B|       B5|       Not Verified|               319723.0|       Joint App|          285000.0|             Not Verified|2023-11-05 06:06:...|
|930c84fe7045af3c8...|              Pastor|         1|          RENT|      75000.0|           WV|          261xx|            USA|    A|       A2|       Not Verified|                92638.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|54871685b47ffd7f4...|     Admin Assistant|        10|          RENT|      35800.0|           SC|          294xx|            USA|    D|       D3|           Verified|                41821.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|8c90c53b2186b5a34...|     Program Manager|         7|      MORTGAGE|      40000.0|           NY|          121xx|            USA|    A|       A1|       Not Verified|               163240.0|       Joint App|           80000.0|                     null|2023-11-05 06:06:...|
|329a548eb2c849b68...|                null|         6|          RENT|      16000.0|           WA|          990xx|            USA|    C|       C3|       Not Verified|                 2200.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|0d7b11d2e29825300...|               Owner|         2|           OWN|     129131.0|           AL|          352xx|            USA|    A|       A1|       Not Verified|               163170.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|5fd261d9ea5f7e25c...|        Shift runner|        10|           OWN|      16800.0|           OH|          441xx|            USA|    A|       A2|       Not Verified|                30200.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|9669f5133de18426b...|    Field Technician|         1|          RENT|      41600.0|           PA|          151xx|            USA|    D|       D2|    Source Verified|                44797.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|6329c15714045b3f0...|Senior Audit Manager|        10|      MORTGAGE|     120000.0|           CA|          930xx|            USA|    A|       A1|       Not Verified|               596015.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|3a828dbf60c57b12d...|             manager|         8|      MORTGAGE|      72800.0|           TN|          378xx|            USA|    D|       D1|           Verified|               287853.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|7599dfb2bfbaf3e64...|          IT Manager|        10|      MORTGAGE|     105000.0|           MO|          631xx|            USA|    B|       B3|           Verified|               292244.0|      Individual|              null|                     null|2023-11-05 06:06:...|
|6952ef1d3057a2a0d...|         ED Director|         7|          RENT|     160000.0|           SC|          290xx|            USA|    A|       A5|    Source Verified|               471822.0|      Individual|              null|                     null|2023-11-05 06:06:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [58]:
customers_df=spark.sql("""select * from itv007473_lending_club.customers
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [59]:
customers_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/raw/cleaned_new/customers_parquet") \
.save()

In [60]:
loans_defaulters_delinq_df = spark.sql("""select * from itv007473_lending_club.loans_defaulters_delinq
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [61]:
loans_defaulters_delinq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/raw/cleaned_new/loans_defaulters_delinq_parquet") \
.save()

In [62]:
loans_defaulters_detail_rec_enq_df = spark.sql("""select * from itv007473_lending_club.loans_defaulters_detail_rec_enq
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [63]:
loans_defaulters_detail_rec_enq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv007473/lendingclubproject/raw/cleaned_new/loans_defaulters_detail_rec_enq_parquet") \
.save()

In [64]:
spark.sql("""
create EXTERNAL TABLE itv007473_lending_club.customers_new(member_id string, emp_title string, emp_length int, home_ownership string, 
annual_income float, address_state string, address_zipcode string, address_country string, grade string, 
sub_grade string, verification_status string, total_high_credit_limit float, application_type string, 
join_annual_income float, verification_status_joint string, ingest_date timestamp)
stored as parquet
LOCATION '/user/itv007473/lendingclubproject/raw/cleaned_new/customers_parquet'
""")

++
||
++
++

In [66]:
spark.sql("""
create EXTERNAL TABLE itv007473_lending_club.loans_defaulters_delinq_new(member_id string,delinq_2yrs integer, delinq_amnt float, mths_since_last_delinq integer)
stored as parquet
LOCATION '/user/itv007473/lendingclubproject/raw/cleaned_new/loans_defaulters_delinq_parquet'
""")

++
||
++
++

In [67]:
spark.sql("""
create EXTERNAL TABLE itv007473_lending_club.loans_defaulters_detail_rec_enq_new(member_id string, pub_rec integer, pub_rec_bankruptcies integer, inq_last_6mths integer)
stored as parquet
LOCATION '/user/itv007473/lendingclubproject/raw/cleaned_new/loans_defaulters_detail_rec_enq_parquet'
""")

++
||
++
++

In [68]:
spark.sql("""select member_id, count(*) as total 
from itv007473_lending_club.customers_new
group by member_id order by total desc""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|f798ba62b7180bbed...|    1|
|20a257f8d8013dfc8...|    1|
|089d34ded936cdc09...|    1|
|7272f209865bc6d1a...|    1|
|5de79262cc77c908c...|    1|
|d5fa3fb3ad2b1ed1b...|    1|
|37cdad9ba0a05f8f2...|    1|
|acce4da7cedd80433...|    1|
|03ffe37b6ca61d59a...|    1|
|a7de6b0beaed94b5d...|    1|
|8ddaefb200a1bdef7...|    1|
|d2527c8e389ee133c...|    1|
|c76b505680281fa75...|    1|
|da3f7ab776193f75f...|    1|
|37f983d677dedf52b...|    1|
|321269f55d2cfa6de...|    1|
|247b7ed0a14c1f36a...|    1|
|289b771f0e85f9f37...|    1|
|c1a3a4ec111ea8da9...|    1|
|b6e73fd252d4c0653...|    1|
+--------------------+-----+
only showing top 20 rows